# 编译输出
/bin/
/target/

# Eclipse相关
.project
.classpath
.settings/
/.metadata
/.recommenders
/.checkstyle

# Maven相关
/logs/
/target/
/!.mvn/wrapper/maven-wrapper.jar

# Gradle相关
/.gradle
/build
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# 日志文件
*.log

# 临时文件
*.tmp
*.temp
*.bak
*.swp

# 系统文件
.DS_Store
Thumbs.db

# IDE和编辑器配置文件
.vscode/
.idea/
*.iml

# 环境配置文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Windows系统文件
Desktop.ini
